html, body{
  height: 100%;
  width:100%;
  overflow: hidden;
  margin: 0;
}

.animation{
    width: 650px;
    height: 450px;
    background: #242424;
}

.black{
    position: absolute;
    opacity: 0;
}

.blackani{
    position: absolute;
    opacity: 0;
    animation: flash 24s forwards linear;
}

.jd01{
    position: absolute;
    width: 300px;
    height: 450px;
    top: -65px;
    left: -45px;
    transform: scale(0.72);
}

.jd01ani{
    position: absolute;
    animation: anime 20s forwards linear, goright 20s forwards linear, godown 20s forwards linear;
}


.jd01stop{
    position: absolute;
}

.button{
    position: absolute;
}


.button:nth-child(6)
{
    left: 40px;
}

.button:hover{
    opacity: 0.8;
}

.white{
    position: absolute;
}

.white:nth-child(4)
{
    left: 40px;
}

@keyframes anime{
    from{transform: scale(1) rotate(0deg)}
    to{transform: scale(4) rotate(10deg)}
}

@keyframes goright{
    from{left: 0px}
    to{left: -520px}
}

@keyframes godown{
    from{top: 0px}
    to{top: 200px}
}

@keyframes jdrotate{
    from{transform: rotate(0deg)}
    to{transform: rotate(-30deg)}
}

@keyframes flash{
    0%{opacity: 0}
    50.5%{opacity: 0}
    51%{opacity: 0.5}
    51.5%{opacity: 0}
    63%{opacity: 0}
    63.5%{opacity: 0.5}
    64%{opacity: 0}
    75.5%{opacity: 0}
    76%{opacity: 0.5}
    76.5%{opacity: 0}
    87%{opacity: 0}
    87.5%{opacity: 0.5}
    88%{opacity: 0}
}

